################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BimProjectSetupCLI/obj
/BimProjectSetupCommon/obj
/bin
/ForgeBimApi/obj
/packages
/BimProjectSetupCLI/BimProjectSetupCLI.csproj.user
